
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background{
    background-image: url(sky.jpg);
    height: 100vh;
    width: 100%;
    background-image: cover;
   
    
   

}
.container{
    display: grid;
    place-items: center;
    height: 100vh;
}
.container h1{
    font-size: 4rem;
}
.settings{
    position: absolute;
    bottom: 30px;
    right: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
    
}
.settings .fa-cog{
    font-size: 3rem;
    color: #ffffff;
} 
.settings-content{
    display: flex;
    gap: 1rem;

}
.settings-content input{
    padding: 0.5rem 1rem;
    font-size: 1rem;
}
.settings-content button{
    padding: 0.5rem 1rem;
    background-color:green ;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    color: white;

}
.hide{
    display: none;
}
.time-container{
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.time-container h2{
    line-height: 3rem;
    text-align: center;
    font-size: 3rem;
}
.time-container div{
    font-size:5rem;
    color: white;
}