
body{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    gap: 10px;
    

}
.box {
    height: 100px;
    width: 100px;
}



.box1{
    border:10px solid #4cdce4;

}
.box2{
    border: 10px dashed #4cdce4;
}
.box3{
    border: 10px double red;
      
}
.box4{
    border: 10px inset yellow;

}
.box5{
    border: 20px ridge chocolate; 
}

.box6{
    border: 20px groove yellow;
}
.box7{
    border:20px outset red;
}

.box8{
    background-color: blue;
    border-style: dotted double groove outset;
    border-width: 40px;
}