body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #8c92aa, #764ba2);
    font-family: Arial, sans-serif;
    

}
.calculator{
    background: #1e1e2f;
    padding: 40px;
    border-radius: 20px;
    width: 300px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.9);
    border: 10px ridge rgb(85, 78, 78);
    
   
}
.display{
    width: 100%;
    height: 70px;
    background: #7a7676;
    font-size: 32px;
    text-align: right;
    padding: 10px;
    border: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    animation: bgmix 46s infinite;

}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
button{
    height: 55px;
        border: none;
        border-radius: 100%;
        font-size: 18px;
        cursor: pointer;
        background: #2e2e48;
        color: white;
        transition: 1.2s;
        
}

button:hover {
    background: #00c6ff;
    transform: scale(1.05);
}
.operator{background:#ff7a18;}
    .equal{background:#00c853; grid-column: span 2; border-radius: 9px;}
    .clear{background:#e53935;}


    
    
    
    
    
 
 
 
    
    
        @keyframes bgmix {
            0% {
                background: red;
            }
    
    
            25% {
                background: orange;
            }
    
    
            50% {
                background: green;
            }
    
    
            75% {
                background: blue;
            }
    
    
            100% {
                background: red;
            }
    
            30% {
                background: purple;
            }
        }